{% extends "base.html" %}
{% block content %}
<style>
  body, html {
    height: 100%;
    margin: 0;
    background-image: url("{{ url_for('static', filename='kütüphanearkaplanblur.jpg') }}");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
    overflow: hidden;
  }

  .register-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .register-card {
    background-color: rgba(255, 254, 254, 0.7);
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
  }

  .form-control {
    border-radius: 0.5rem;
  }

  .btn-primary {
    width: 100%;
    border-radius: 0.5rem;
  }

  .login-link {
    text-align: center;
    margin-top: 3px;
  }
</style>

<div class="register-container">
  <div class="register-card">
    <h3 class="text-center mb-4">Kayıt Ol</h3>
      <form method="POST">
        <div class="mb-3">
        <label for="kullanici_adi" class="form-label">Ad</label>
        <input type="text" class="form-control" id="ad" name="ad" required>
      </div>
      <div class="mb-3">
        <label for="soyad" class="form-label">Soyad</label>
        <input type="text" class="form-control" id="soyad" name="soyad" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">E-posta</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="sifre" class="form-label">Şifre ayarla</label>
        <input type="password" class="form-control" id="sifre" name="sifre" required>
      </div>
      <button type="submit" class="btn btn-primary">Kayıt Ol</button>
    </form>

    <div class="login-link">
      <p>Zaten hesabınız var mı? <a href="{{ url_for('login') }}">Giriş Yap</a></p>
    </div>
  </div>
</div>
{% endblock %}
