{% extends "base.html" %}
{% block content %}
<h3>Kayıt Ol</h3>
<form method="POST" class="mt-3">
    <div class="mb-3">
        <label>Ad:</label>
        <input type="text" name="ad" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Soyad:</label>
        <input type="text" name="soyad" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Email:</label>
        <input type="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Şifre:</label>
        <input type="password" name="sifre" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Kayıt Ol</button>
</form>
{% endblock %}
